%active-effect {
  .nickname {
    color: $color-text;
  }

  .img {
    outline: 3px solid $color-text;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
  cursor: pointer;

  &:hover,
  &.active {
    @extend %active-effect;
  }
}

.img-wrapper {
  position: relative;
  width: 8rem;
  height: 8rem;

  @include media-breakpoint("lg") {
    width: 14rem;
    height: 14rem;
  }

  @include media-breakpoint("2xl") {
    width: 20rem;
    height: 20rem;
  }
}

.img {
  display: block;
  border-radius: 0.25rem;
}

.nickname {
  font-size: 1.2rem;
  color: $color-muted;
  text-align: center;

  @include media-breakpoint("md") {
    font-size: 1.8rem;
  }
}
